{% extends 'ZiaJobBundle::layout.html.twig' %}

{% block stylesheets %}
  {{ parent() }}

  <link href="{{ asset('bundles/ziajob/css/jobs.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}
  
{% block title %}
  Job - List of Jobs
{% endblock %}
  
{% block content %}
<div id="jobs">
    {% include 'ZiaJobBundle:Category:item.html.twig' with {'category' : category} %}
</div>
{% endblock %}